{
  "$schema": "https://json.schemastore.org/prettierrc",
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ],
  "trailingComma": "all",
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "arrowParens": "avoid",
  "semi": true,
  "printWidth": 80,
  "bracketSpacing": true,
  "endOfLine": "auto",
  "importOrder": ["^react", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderCaseInsensitive": true
}
